@page "/"
@page "/{tCategoryUrl}"
@inject iCategoryService oCategoryService
@inject iProductService oProductService

@if (oCategory != null)
{
	<h1>Welcome to @oCategory.tName Section</h1>
}
else
{
	<h1>Welcome to Blazing Shop!</h1>
}
<CP_ProductList />

@code
{
	[Parameter]
	public string tCategoryUrl { get; set; }

	private cmCategory oCategory { get; set; } = null;

	protected override async Task OnParametersSetAsync()
	{
		await oProductService.LoadProducts(tCategoryUrl);

		if (String.IsNullOrEmpty(tCategoryUrl) == false)
		{
			oCategory = oCategoryService.aoCategories.FirstOrDefault(c => c.tUrl.ToLower() == tCategoryUrl.ToLower());
		}
		else
		{
			oCategory = null;
		}
	}
}