@inject iProductService oProductService
@implements IDisposable

<ul class="list-unstyled">
	@foreach (cmProduct oProduct in oProductService.aoProducts)
	{
		<li class="media my-3">
			<div class="media-img-wrapper mr-2">
				<a href="/product/@oProduct.nId">
					<img class="media-img" src="@oProduct.tImg" atl="@oProduct.tTitle" />
				</a>
			</div>
			<div class="media-body">
				<a href="/product/@oProduct.nId">
					<h4 class="mb-0">@oProduct.tTitle</h4>
				</a>
				<p>@oProduct.tDescription</p>
				@if (oProduct.cBasePrice != oProduct.cPrice)
				{
					<h4 class="text-muted original-price">฿@oProduct.cBasePrice</h4>
				}
				<h4 class="price">฿@oProduct.cPrice</h4>

			</div>
		</li>
	}
</ul>

@code {
	//[Parameter]
	//public Nullable<int> nCategoryId { get; set; } = null;

	protected override void OnInitialized()
	{
		oProductService.OnChange += StateHasChanged;
	}

	public void Dispose()
	{
		oProductService.OnChange -= StateHasChanged;
	}
}
